<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    
    <link rel="stylesheet" href="css/style.css">


</head>
<body>
    <div class="container">
            <header>
                <img src="images/logo.svg" alt="logo" class="logo">
        
             <nav>
            <a href="#" class="hide-desktop">
                <img src="images/ham.svg" alt="toggle menu" class="menu" id="menu">


            </a>

            <ul class="show-desktop hide-mobile" id="nav">
                <li id="exit" class="exit-btn hide-desktop">
                    <img src="images/exit.svg" alt="exit menu">
                </li>
                <li><a href="index.html">O mnie</a></li>
                <li><a href="view/cennik.html">Cennik</a></li>
                <li><a href="view/kontakt.html">Kontakt</a></li>
                <li><a href="view/galeria.html">Galeria</a></li>

            </ul>

            </nav>
        </header>

        <section>
            <br>
            <br>
            <br>
            <img src="images/kamera.svg" alt="lapa" class="lapa">
            <br>
            <br>
            <br>


            <h1>Nasza galeria </h1>
            <p class="subhead">Zobacz co robimy z psiakami na zdjęciach w naszej galeri zdjęć<br>
                                Zerknij niżej </p>
            
            <img src="images/scroll.svg" alt="scroll down" class="scroll hide-mobile show-desktop">


        </section>
    </div>

<div class="container-images">
    <div class="gallery-containter">
        <div class="image"><img src="images/1.png" alt="1"></div>
        <div class="image"><img src="images/2.png" alt="2"></div>
        <div class="image"><img src="images/3.jpg" alt="3"></div>
        <div class="image"><img src="images/4.jpg" alt="4"></div>
        <div class="image"><img src="images/5.jpg" alt="5"></div>
        <div class="image"><img src="images/6.jpg" alt="6"></div>
        <div class="image"><img src="images/7.jpg" alt="7"></div>
        <div class="image"><img src="images/8.jpg" alt="8"></div>
        <div class="image"><img src="images/9.jpg" alt="9"></div>
        <div class="image"><img src="images/10.jpg" alt="10"></div>

    </div>

    <div class="popup-image">
        <span>&times;</span>
        <img src="images/1.png" alt="123">
    </div>
</div>










    <div class="container">
        <h2>Zacznij już teraz!</h2>
        <a href="view/kontakt.html" class="cta">Kontakt</a>
    </div>

    <footer>
    <div class="footer-container">
        <div class="container">
            <a href="#">
                <img src="images/logoczarne.svg" class="logo" alt="logo"></a>
                <p class="address">Pod Lasem, 44-200 <br>Rybnik</p>
            
                <ul class="footer-links">
                    <li>
                        <a href="#">Warunki usługi</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/nestibc/"> <img  src="images/ig.svg"  alt="instagram" class="instagram" ></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/oliwia.kosiorowska.71"> <img  src="images/fb.svg"  alt="facebook" class="facebook" ></a>
                    </li>
                    <li>
                        <a href="#">Polityka prywatnosci</a>
                    </li>
                    <li>
                        <a>Copyright by Filip Ojczyk</a>
                    </li>
                </ul>
        </div>
    </div>
    <div class="end">


    </div>
</footer>

<script>
    var menu = document.getElementById('menu');
    var nav = document.getElementById('nav');
    var exit = document.getElementById('exit');

    menu.addEventListener('click', function(e) {
        nav.classList.toggle('hide-mobile')
        e.preventDefault();
    });

    exit.addEventListener('click', function(e) {
        nav.classList.add('hide-mobile')
        e.preventDefault();
    });


    
</script>
<script>

    document.querySelectorAll('.gallery-containter img').forEach(image=>{
        image.onclick=()=>{
            document.querySelector('.popup-image').style.display='block';
            document.querySelector('.popup-image img').src=image.getAttribute('src')
        }
    });

    document.querySelector('.popup-image span').onclick=()=>{
        document.querySelector('.popup-image').style.display='none';
    }

</script>


</html>
</body>